# Carga del dataset

In [1]:
import pandas as pd

In [2]:
# Cargar el dataset
df = pd.read_csv('../../Base_datos.csv')

In [3]:
# Mostrar las primeras filas del dataframe
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,133,PAYMENT,5828.35,C952771304,942012.56,936184.25,M141260766,0.00,0.0,0,0
1,397,CASH_IN,159257.06,C38956238,16102.00,175359.06,C1129173370,40954.81,0.0,0,0
2,15,PAYMENT,9701.77,C86130509,20525.00,10823.23,M267881330,0.00,0.0,0,0
3,282,CASH_IN,54068.33,C2058924344,780601.10,834669.44,C527536811,431607.53,377539.2,0,0
4,372,CASH_IN,202734.30,C1418128829,12753207.00,12955941.00,C136842001,1281123.60,1078389.4,0,0

In [4]:
# Información del dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200001 entries, 0 to 200000
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   step            200001 non-null  int64
 1   type            200001 non-null  object
 2   amount          200001 non-null  float64
 3   nameOrig        200001 non-null  object
 4   oldbalanceOrg   200001 non-null  float64
 5   newbalanceOrig  200001 non-null  float64
 6   nameDest        200001 non-null  object
 7   oldbalanceDest  200001 non-null  float64
 8   newbalanceDest  200001 non-null  float64
 9   isFraud         200001 non-null  int64
 10  isFlaggedFraud  200001 non-null  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 16.8+ MB

In [5]:
# Verificar valores nulos
df.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [ ]:
# Contar valores únicos en la columna 'isFraud'
df['isFraud'].value_counts()

isFraud
0    199743
1       258
Name: count, dtype: int64